<div class="container">
  <div class="card">
<h2>Add an employee!</h2>
<form action="/priv/users/add" method="POST">
  <label for="">Email:</label>
  <input type="email" name="email">
<br>
  <label for="">Password:</label>
  <input type="password" name="password">
<br>
  <label for="">Role:</label>
  <input type="text" name="role">
<br>
  <button type="submit">ADD</button>
</form>
<a href="/private">Go back</a>
</div>
</div>