<div class="container">
    <div class="card">
        <div class="list-flex">
            <h1>Look at all our employees</h1>
            <a href="/priv/users/add"><button>Add an employee</button></a>
        </div>
        <ul>
            {{#each users}}   
            <h3>{{this.email}}</h3>
             <a href="delete/{{this._id}}">
            <button class='btn-delete'>I hate this employee, delete them!</button>
        </a> {{/each}}
        </ul>
<a href="/auth/sign-in">sign in</a>
<a href="/auth/sign-out">sign out</a>

    </div>
</div>