<div class="container">

    <div class="card">
        <h1>Sign Up</h1>

        <form action="/auth/sign-up" method='POST'>
            Email<input type="email" name='email' required='true'>
            <br>
            password<input type="password" name='password' required='true'>
            <br>
             Role  <input type="role" name='role' required='true'>
            <br>
            <br>
            <button type='submit'>Create my User Account</button>
            <br>
            <br> {{#if error}}
            <p>ERROR: {{error}}</p>
            {{/if}}
        </form>

      
    </div>
</div>